* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

svg{
    fill:#F26522
}

body {
    margin: auto;
    width: 1028px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    color:#F26522;

}
header{
    margin-top: 50px;
}
.logo {

    left: 0px;
    display: flex;
}

.img_logo_h{
    display:none;
}
.logo>img {
    width: 53px;
    height: 47px;
}

.logo>a{
    display: flex;
}
.logo>img:hover{
    filter: grayscale(100%) sepia(100%);      
}

.logo>a>div{
    padding-left: 8px;
}


.logo>a:hover > div>p {
    color:#F26522;
   }

   .logo>a:hover > .img_logo_h{
    display: block;
   }  

   .logo>a:hover > .img_logo{
    display: none;
   }  

.logo1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}


.logo2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.tel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}
.tel>a:last-child{
text-align: end;
margin-top:auto;
align-self: flex-end;
}

.section {
    padding-top: 22px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-row: repeat(2, 220px);
    grid-gap: 61px;
}
.section>div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 300px;
    height: 220px;
    color: #FFFFFF;

}

.section>div>p{
    position: relative;
    top: 90px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;

text-align: center;

}
.price{
    visibility: hidden;
    justify-content: end;
    width:100%;
    height: 55px;
    bottom:-10px;
    background-color: #F26522;
    padding: 7px 16px;
}
.price>div{
    display: flex;
    justify-content: start;
    font-size: 20px;
    padding: 8px 0;
}
.price>div>div:last-child{
    margin-left: auto;
    font-size: 14px;
}
.price>p {
    font-size: 10px;
}
.section>div:hover > .price{
    visibility: visible;
    color: #FFFFFF;
}

.section>div:hover {
color: #F26522;
}

.item_1 {
    height: 220px;
    background-image: url(../img/image_1.png);
}


.item_2 {
    background-image: url(../img/image_2.png);
}
.item_3 {
    background-image: url(../img/image_3.png);
}
.item_4 {
    background-image: url(../img/image_4.png);
}
.item_5 {
    background-image: url(../img/image_5.png);
}
.item_6 {
    background-image: url(../img/image_6.png);
}

footer{
margin-top: 90px;   
margin-bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
text-align: center;

}